scripts/*.pyc
data/*tre
data/*nex
data/*trees
data/*outfile
data/*intree
data/*inseq*xml
data/*fasta
data/

*_FASTQ*
*_RAW*
*.sub

data/imgs/
data/trees.zip

MiniExp
EXP1
EXP2

.DS_Store
launchfile*
*~
*.tgz
*test*
